*{
    box-sizing: border-box;
}

body{
    background-color: #f6f8f9;
}
/* header */

header{
    height: 100px;
    background-color: white;
}

#logo{
    height: 80px;
    line-height: 100px;
    vertical-align: middle;
}

 h1{
    font-size: 60px; 
    display: inline;

}

/* div container */
.container{

    background-color: darkgreen;
    width: 60%;
    height: 100%;
    margin: 50px auto;
    border-radius: 5px;
}

.top-container {
    background-color: crimson;
    height: 60px;
    border-bottom: 3px solid #f6f8f9;
    border-radius: 5px;
}

.button-row{
    margin-left: 60px;
    background-color: darkorchid;
}

.general-button{
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

.circle{
    width: 20px;
    height: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 25px;
    border: 1px solid black;
    display: inline-block;
  }

.tag{
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 25px;
    display: inline-block;
}

.editorial{
    background-color: deepskyblue;
}
