*{
    box-sizing: border-box;
}

body{
    background-color: #f6f8f9;
}
/* header */

header{
    height: 100px;
    background-color: white;
}

#logo{
    height: 80px;
    line-height: 100px;
    vertical-align: middle;
}

 h1{
    font-size: 60px; 
    display: inline;

}

/* div container */
.container{

    background-color: darkgreen;
    height: 200px;
    width: 60%;;
    margin: 50px auto;
    border-radius: 5px;
}

.top-container {
    background-color: crimson;
    height: 60px;
    border-bottom: 3px solid #f6f8f9;
}

.button-row{
    margin-left: 60px;
    background-color: darkorchid;
}

.general-button{
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}




