*{
    box-sizing: border-box;
}

body{
    background-color: #f6f8f9;
}
/* header */

header{
    padding: 20px;
    background-color: white;
}

#logo{
    height: 80px;
    line-height: 100px;
    vertical-align: middle;
}

 h1{
     vertical-align: middle;
    font-size: 60px; 
    display: inline;

}

/* div container */
.container{

    background-color:white;
    width: 60%;
    height: 100%;
    margin: 50px auto;
    border-radius: 5px;
}

/* top-container */

.top-container {
    background-color:white;
    border-bottom: 3px solid #f6f8f9;
    border-radius: 5px;
}

.button-row{
    padding: 20px 50px 10px 60px;
}

.general-button{
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}



.add-task {
    background-color: #47adf1;
    color: white;
    border: 1px solid #47adf1;
}


.add-section{
    background-color:white;
    color: lightgrey;
    border: 1px solid lightgrey;
}

/* list-container */

.list-container{
    padding-left: 60px;
}


/* Task list */

.custom-list{
    padding-left: 60px;
    list-style: none;
    padding-left: 0;
}

.custom-list li::before{
    content: '\25BC' ;
}

/* task */


.row-list{
    padding: 5px 0;
}

h2{
    display: inline-block;
}

.circle{
    width: 20px;
    height: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 25px;
    border: 2px solid;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 12px ;
    vertical-align: middle;
  }

.done{
    color:#64c0a9 ;
    border-color: #64c0a9;
}

.undone{
    color:red ;
    border-color: red;
}

.task-name{
    vertical-align: middle;
}

.tag{
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 25px;
    display: inline-block;
    vertical-align: middle;
}

.editorial{
    background-color: #45abea;
}

.goals{
    background-color: #9c72e4;
}

.recruiting{
    background-color: #64c0a9;
}

.mobile{
    background-color:#f29e33;
}

.website{
    background-color: #d863a1;
}

.sales{
    background-color:#b0c926;
}
